html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('healthy-bowl.jpg') no-repeat center center fixed; 
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

.overlay {
    background: rgba(186, 184, 184, 0.5); /* Adjust transparency as needed */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 60px;
    padding-top: 120px;
    position: relative;
    z-index: 1;
}

a {
    color: #fff0dd;
}

header {
    background-color: rgba(255, 240, 221, 0.7);
    border-radius: 10px;
    color: #a66ea1;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 40px;
    padding: 0 25px;
    text-align: center; 
    z-index: 1;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 22px;
}

.form-container {
    background-color: rgba(255, 240, 221, 0.7);
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructions {
    border-radius: 50px;
    border: 1px solid rgba(39, 33, 66, 0.6);
    color: #272044;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}

.macro {
    border-radius: 50px;
    border: 1px solid rgba(39, 33, 66, 0.6);
    font-size: 16px;
    padding: 10px;
}

.hint {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    opacity: 0.6;
}

.submit-button {
    background-color: #a66ea1;
    border-radius: 50px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 14px 24px;
    transition: all 235ms ease-in-out;
}

.submit-button:hover {
    box-shadow: none;
    transform: translatey(2px);
  }

.recipe {
    background-color: rgba(255, 240, 221, 0.8);
    border-left: 6px solid #a66ea1;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 20px;
}


.hidden {
    display: none;
}

.blink-soft {
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.loading-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    width: 100%;
}

.progress {
    background-color: #dbcdfb;
    height: 100%;
    transition: width 0.5s;
    width: 0;
}

footer {
    color: #fff0dd;
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}